<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE jjigw SYSTEM "jjigw.dtd">
<jjigw>

<connect>
	<host>127.0.0.1</host>
	<port>5347</port>
	<secret>topsecret</secret>
</connect>

<network jid="ircnet.localhost" encoding="iso-8859-2">
	<server>warszawa.irc.pl</server>
	<server>lublin.irc.pl</server>
	<server>poznan.irc.pl</server>
</network>

</jjigw>
